<%- include ("../partials/header") %>

<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-12 text-center mb-3">
            <h1>Edit <%=item.name%></h1>
        </div>
        <div class="col-xs-12 col-md-8 col-lg-6">
            <form action="/home/<%=item._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Item Name:</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="<%=item.name%>" name="name" id="name">
                    </div>                    
                </div>
                <div class="form-group row">
                    <label for="descp" class="col-sm-3 col-form-label">Description:</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="descp" name="description"><%=item.description%></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="upload" class="col-sm-3 col-form-label">Choose File:</label>
                    <div class="col-sm-9">
                        <input class="form-control-file" type="file" name="userFile" id="upload">
                    </div>
                </div>
                Select the User Groups:
                <div class="form-group">
                    <% groups.forEach(function(group){ %>
                        <%if(group.isActive){%>
                            <% if(currentUser.groups.includes(group._id)){%>
                                <div class="form-check form-check-inline">
                                    <%if (item.groups.includes(group._id)){%>
                                        <input type="checkbox" name="<%=group.groupName%>" id="<%=group.groupName%>" value="yes" checked>
                                        <label for="<%=group.groupName%>">  <%=group.groupName%></label>
                                    <%}else{%>
                                        <input type="checkbox" name="<%=group.groupName%>" id="<%=group.groupName%>" value="yes">
                                        <label for="<%=group.groupName%>">  <%=group.groupName%></label>
                                    <%}%>
                                </div>
                            <% }%>
                        <%}%>
                    <% }); %>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>                
            </form>

            <a href="/home">Go Back</a>
        </div>

        

    </div>  

</div>

<%- include ("../partials/footer") %>